# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Ignore build dirs at any depth
build/
**/build/

# Android
android/.gradle/
android/local.properties
android/**/build/
android/**/intermediates/
android/**/outputs/
